<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033275894064-p24j0t4e8pt0umrc03nh4258gtid9at0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033275894064-p24j0t4e8pt0umrc03nh4258gtid9at0</string>
	<key>API_KEY</key>
	<string>AIzaSyBsJtU04GpufO0n598Es_SwyLYRkRW3GEg</string>
	<key>GCM_SENDER_ID</key>
	<string>1033275894064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>final-project-2a0d9</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-2a0d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033275894064:ios:4d2401c260abead02840f5</string>
</dict>
</plist>